
<footer class="bg-secondary">
<div class="container">
  <br>
   <span><p class="text-center text-uppercase">Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | Aglist <i class="fa fa-pagelines" aria-hidden="true"></i></p></span>
 </div>
 <ul class="list-inline text-center">
   <li class="list-inline-item">
     <a class="text-uppercase" style="color:#29a329;" href="/privacypolicy">PRIVACY POLICY</a>
   </li>
   <li class="list-inline-item">
     <a class="text-uppercase" style="color:#29a329;" href="/disclaimer">DISCALIMER</a>
   </li>
 </ul>
</footer>
