/* html {
  background-color: #fefefe;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
} */

*, *:before, *:after {
  box-sizing: inherit;
}

footer {
    position: relative;
    height: 100px;
    bottom: 0px;
    width: 100%;
}
