

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>AGLIST</title>
    <% include ../partials/header %>
    <% include ../partials/nav %>
  </head>
  <body class="bg-light">
    <br>
    <br>
    <h1 class="text-center">ABOUT US</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <br>
          <br>
          <p class="text-justify">
            <br>
            <br>
            <br>
            <br>
            Welcome to Aglist.io your online listing directory for agricutural businesses. We have noticed that most of the ag business are not listed on online, which makes it difficult for customers and future employess to find agricutural business online.
          </p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  <% include ../partials/footer %>
  <% include ../partials/jscontact %>
  </body>
</html>
